@charset "utf-8";
/************************************************************************************************************ 
Basic Style Sheet (for version 4 browsers)	
	version: 0.1
	author: 박수연 과장
	email: suudjin@nate.com
	설명: BTMS
	
-css수정시-
************************************************************************************************************/

/*:DATE :2013.01.21
:author:*/
/************************************************************************************************************/

/************************************************************************************************************
 btms_table
************************************************************************************************************/
.k1_btms_mboard{width:100%; border-top:#a3c0e5 1px solid; border-bottom:#4881cc 1px solid;}
.k1_btms_mboard th{padding:7px 10px; height:14px; background:#f6f9fc; border-top:#a3c0e5 1px solid; border-bottom:#a3c0e5 1px solid; color:#393939; line-height:14px;}
.k1_btms_mboard td{padding:7px 10px 5px; height:16px; border-bottom:#a3c0e5 1px dotted; line-height:12px; color:#777; text-align:center;}
.k1_btms_mboard td a{color:#777;}
.k1_btms_mboard td a:hover{text-decoration:underline;}

table.k1_btms_confirm{width:100%;}
table.k1_btms_confirm th,
table.k1_btms_confirm td{border-bottom:dotted 1px #cdc8c8;}
table.k1_btms_confirm th.last,
table.k1_btms_confirm td.last{border:none;}
table.k1_btms_confirm td{padding:2px 0; color:#5e5e5e; font-size:11px;}
table.k1_btms_confirm th{text-align:left; background:url(/air/wfw/imgs/airA/common/bul_gray_square.gif) no-repeat 5px 10px; color:#5e5e5e; padding:7px 15px 7px 20px; font-weight:bold; line-height:14px;}
table.k1_btms_confirm select{border:#cfcfcf 1px solid; color:#8a8a8a; font-size:11px; height:19px; line-height:19px;}
.k1_btms_input{border:#cfcfcf 1px solid; height:13px; color:#8a8a8a; font-size:11px; line-height:13px; padding:2px;}

.k1_btms_table1{width:100%; border-top:#4881cc 2px solid; border-bottom:#4881cc 1px solid; table-layout:fixed;}
.k1_btms_table1 th,
.k1_btms_table1 td{border:#a3c0e5 1px solid; border-bottom:medium none;}
.k1_btms_table1 th{background:#f6f9fc; text-align:left; font-weight:normal; color:#393939; height:20px; padding:4px 10px 3px;}
.k1_btms_table1 td{color:#5e5e5e; padding:4px 10px; height:20px;}
.k1_btms_table1 td.pd_none{padding:0;}
.k1_btms_table1 td span.txt11_blue{float:right; padding-top:5px; width:70%; color:#3775c7; font-size:11px; line-height:11px; text-align:left;}/*삭제예정*/
.k1_btms_table1 td span.pw_comment{float:right; padding-top:5px; width:70%; color:#3775c7; font-size:11px; line-height:11px; text-align:left;}

.k1_btms_table1_2{width:100%; border-top:#4881cc 2px solid; border-bottom:#4881cc 1px solid;}
.k1_btms_table1_2 th,
.k1_btms_table1_2 td{border:#a3c0e5 1px solid; border-bottom:medium none;}
.k1_btms_table1_2 th{background:#f6f9fc; font-weight:normal; color:#393939; height:20px; padding:4px 10px 3px;}
.k1_btms_table1_2 td{color:#5e5e5e; padding:4px 10px; height:20px; text-align:center;}
.k1_btms_table1_2 td.pd_none{padding:0;}
/*.k1_btms_table1_2 td span.txt11_blue{color:#3775c7; font-size:11px; float:right; line-height:11px; padding-top:5px; width:70%; text-align:left;}*/
.k1_btms_table1_2 td a:hover{text-decoration:underline;}

.k1_intable{width:100%; border-bottom:#a3c0e5 1px solid;}
.k1_intable th,
.k1_intable td{padding:4px 10px; border:#a3c0e5 1px solid; border-right:none; border-bottom:medium none; text-align:center;}
.k1_intable tr.first td,
.k1_intable th{border-top:none;}
.k1_intable th.first,
.k1_intable td.first{border-left:none;}

.k1_btms_table2{width:100%; border-top:#4881cc 2px solid; border-bottom:#4881cc 1px solid;}
.k1_btms_table2 tr.first td{border-top:none;}
.k1_btms_table2 th,
.k1_btms_table2 td{border-right:#a3c0e5 1px solid; border-top:#a3c0e5 1px solid; border-bottom:medium none;}
.k1_btms_table2 th{background:#f6f9fc; font-weight:normal; color:#393939; height:20px; padding:4px 10px 3px;}
.k1_btms_table2 td{color:#5e5e5e; padding:4px 10px; height:20px; text-align:center;}
.k1_btms_table2 th.txt_l,
.k1_btms_table2 td.txt_l{text-align:left;}
.k1_btms_table2 td.txt_r{text-align:right;}
.k1_btms_table2 th.last,
.k1_btms_table2 td.last{border-right:none;}
.k1_btms_table2 tfoot th,
.k1_btms_table2 tfoot td{background:#f6f9fc; border-top:#4881cc 1px solid; border-bottom:#4881cc 1px solid; font-weight:bold;}
.k1_btms_table2 tfoot th.nobg,
.k1_btms_table2 tfoot td.nobg{background:none;}
.k1_btms_table2 tfoot th{color:#3775c7;}

.k1_btms_table3{width:100%; border-top:#4881cc 2px solid; border-bottom:#4881cc 1px solid;}
.k1_btms_table3 th,
.k1_btms_table3 td{border-right:#a3c0e5 1px solid; border-top:#a3c0e5 1px solid; border-bottom:medium none;}
.k1_btms_table3 th{background:#f6f9fc; font-weight:normal; color:#393939; height:20px; padding:4px 5px 3px;}
.k1_btms_table3 td{color:#5e5e5e; padding:4px 5px; height:20px; text-align:center;}
.k1_btms_table3 tr.first th,
.k1_btms_table3 tr.first td{border-top:none;}
.k1_btms_table3 td label{vertical-align:middle;}
.k1_btms_table3 td.txt_l{text-align:left;}
.k1_btms_table3 td.txt_r{text-align:right;}
.k1_btms_table3 th.last,
.k1_btms_table3 td.last{border-right:none;}
.k1_btms_table3 tfoot th,
.k1_btms_table3 tfoot td{background:#f6f9fc; border-top:#4881cc 1px solid; border-bottom:#4881cc 1px solid; font-weight:bold;}
.k1_btms_table3 tfoot th.nobg,
.k1_btms_table3 tfoot td.nobg{background:none;}
.k1_btms_table3 tfoot th{color:#3775c7;}

/* 통계관련 */
.k1_btms_table4{width:100%; border-top:#4881cc 2px solid; border-bottom:#4881cc 1px solid; table-layout:fixed; font-size:11px;}
.k1_btms_table4 th,
.k1_btms_table4 td{border-right:#a3c0e5 1px solid; border-top:#a3c0e5 1px solid; border-bottom:medium none;}
.k1_btms_table4 th{background:#f6f9fc; font-weight:normal; color:#393939; height:20px; padding:4px 3px 3px;}
.k1_btms_table4 td{color:#5e5e5e; padding:4px 7px; height:20px; text-align:center;}
.k1_btms_table4 tr.first td,
.k1_btms_table4 tr.first th{border-top:none;}
.k1_btms_table4 th.txt_l,
.k1_btms_table4 td.txt_l{text-align:left;}
.k1_btms_table4 td.txt_r{text-align:right;}
.k1_btms_table4 th.last,
.k1_btms_table4 td.last{border-right:none;}
.k1_btms_table4 td a:hover{color:#3775c7; text-decoration:underline;}
.k1_btms_table4 tfoot th,
.k1_btms_table4 tfoot td{background:#f6f9fc; border-top:#4881cc 1px solid; border-bottom:#4881cc 1px solid; font-weight:bold;}
.k1_btms_table4 tfoot th.nobg,
.k1_btms_table4 tfoot td.nobg{background:none;}
.k1_btms_table4 tfoot th{color:#3775c7;}

.k1_btms_table5{width:100%; border-top:#4881cc 2px solid; border-bottom:#4881cc 1px solid; table-layout:fixed;}
.k1_btms_table5 th,
.k1_btms_table5 td{border-right:#a3c0e5 1px solid; border-bottom:#a3c0e5 1px solid;}
.k1_btms_table5 th{background:#f6f9fc; font-weight:normal; color:#393939; height:20px; padding:4px 2px 3px;}
.k1_btms_table5 td{color:#5e5e5e; padding:4px 2px; height:20px; text-align:center;}
.k1_btms_table5 td.txt_l{text-align:left;}
.k1_btms_table5 td.txt_r{text-align:right;}
.k1_btms_table5 th.last,
.k1_btms_table5 td.last{border-right:none;}
.k1_btms_table5 tfoot th,
.k1_btms_table5 tfoot td{background:#f6f9fc; border-top:#4881cc 1px solid; border-bottom:#4881cc 1px solid; font-weight:bold;}
.k1_btms_table5 tfoot th.nobg,
.k1_btms_table5 tfoot td.nobg{background:none;}
.k1_btms_table5 tfoot th{color:#3775c7;}

/************************************************************************************************************
 btms_조회박스
************************************************************************************************************/
.k1_btms_searchbox{border:#4881cc 2px solid;}
.k1_btms_searchbox .searchbox_inner{padding:3px 14px; border:#e6e6e6 1px solid;}

.k1_btms_searchbox2{padding:7px 13px; margin-bottom:10px; height:19px; border:#cfdef2 1px solid; background:#f6f9fc;}
.k1_btms_searchbox2 label{color:#3775c7; font-weight:bold; padding-top:1px;}
.k1_btms_searchbox2 input{border:#e2e3ea 1px solid; font-size:11px; color:#777; height:13px; line-height:13px; padding:2px; vertical-align:middle;}
.k1_btms_searchbox2 select{border:#cfcfcf 1px solid; color:#8a8a8a; font-size:11px; height:19px; vertical-align:middle;}
/*.k1_btms_searchbox2 p.btn_r{position:absolute; right:13px; top:7px;}*/

.k1_btms_search{width:100%;}
.k1_btms_search th{padding:3px 5px 2px 10px; height:26px; background:url(/air/wfw/imgs/airA/common/bul_arrow02.gif) no-repeat 0 12px; border-bottom:#cecfcf dotted 1px; text-align:left; line-height:26px;}
.k1_btms_search td{padding:3px 5px 2px 15px; height:26px; background:url(/air/wfw/imgs/airA/common/bul_bar.gif) no-repeat 0 10px; border-bottom:#cecfcf dotted 1px; line-height:26px;}
.k1_btms_search th.last,
.k1_btms_search td.last{border-bottom:none;}

.k1_btms_filebox{height:32px; padding:2px 0; border:#e2e3ea 1px solid; font-size:11px; color:#5e5e5e; vertical-align:middle; overflow-y:scroll; text-align:left;}
.k1_btms_filebox a{display:inline-block; height:17px; padding:1px 10px 0 18px; margin-left:5px; background:url(/air/wfw/imgs/airA/btn/btms_iconset.png) no-repeat -125px 0; vertical-align:middle;}
.k1_btms_filebox a:hover{text-decoration:underline;}
.k1_btms_file{height:17px; padding:1px 10px 0 18px; background:url(/air/wfw/imgs/airA/btn/btms_iconset.png) no-repeat -125px 0; vertical-align:middle;}

.k1_btms_massagebox {padding:7px 13px; margin-bottom:10px;; border:#cfdef2 1px solid; background:#f6f9fc; line-height:18px;}

/************************************************************************************************************
 btms_공지사항
************************************************************************************************************/
.k1_btms_bbsbox{padding:9px; background:#f5f5f5; border:#e3e3e3 1px solid; line-height:1.4em;}
.k1_btms_bbs{width:100%; border-top:#3775c7 2px solid;}
.k1_btms_bbs th{padding:3px 7px 2px; height:19px; background:#f1f1f1; border-right:#d9d9d9 1px solid; border-bottom:#d9d9d9 1px solid; line-height:1.2em; color:#393939;}
.k1_btms_bbs td{padding:3px 7px 2px; height:20px; border-right:#d9d9d9 1px solid; border-bottom:#d9d9d9 1px solid; line-height:19px; font-size:11px; text-align:center;}
.k1_btms_bbs td a:hover{text-decoration:underline;}
.k1_btms_bbs .last{border-right:none;}